header {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #414288;
    justify-content: space-evenly;
    display:flex;
}

nav a {
    color: white;
    padding: 12px 12px; 
    text-decoration: none;
}

.nav-links a.active {
    color: white;
    background-color: #8d99ae;
}

.nav-links a:hover:not(.active) {
    background-color: #414288; 
    color: white;
}

body {
    margin: 0;
    background-image: linear-gradient(to right, #deefb7, #32533d);
    text-align: center;
}

#leftsidebar {
    width: 200px;
    float: left;
    background-color: #8d99ae;
    height: 100%;
    height: 100vh;
    text-align: left;
}

img {
    width: 250px;
    height: 250px;
    align-items: center;
}

footer {
    margin: 0;
    background-color:#414288;
    width: 100%;
    padding: 0%;
    display: flex;
    justify-content: space-evenly;
}

