header {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #414288;
    color: white;
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
}

nav.nav-links {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.nav-links a {
    flex: 1;
    text-align: center;
    padding: 12px;
    color: white;
    text-decoration: none;
}

.nav-links a.active {
    background-color: #8d99ae;
}

.nav-links a:hover:not(.active) {
    background-color: #8d99ae;
}

nav a:visited {
    color: white;
    text-decoration: none;
}

body {
    margin: 0;
    background-image: linear-gradient(to right, #deefb7, #32533d);
    text-align: center;
}

table {
    text-align: center;
}

footer {
    margin: 0;
    background-color:#414288;
    width: 100%;
    padding: 0%;
    display: flex;
    justify-content: space-evenly;
}

